@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
    --color-midnight: #121063;
    --color-primary: #2563eb;
    ---color-accent: #3f83f8;
    --color-text: #333333;
    --color-link: #2563eb;
    --color-background: #ffffff;
    --color-lightgray: #f0f0f0;
    --color-gray: #808080;
    --color-darkgray: #555;
  }

.typing-effect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 2s steps(30) 1s infinite normal both;
    font-family: "Courier New", Courier, monospace;
}

@keyframes slideDownFade {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-slideDownFade {
    animation: slideDownFade 1.5s ease-out forwards;
  }

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}